<h1>Schedule</h1>

<div class="pure-1-2">

  <h3>Saturday 11/30</h3>
  <strong>
    <p>All arrive at or before 9:30am</p>
  </strong>

  <p>
    10:00 am   Opening Ceremony
  </p>

  <p>
    RELAY RACES
  </p>
  10:10 am: Egg Pass<br>
  10:20 am: Popcorn Relay<br>
  10:30 am: Three Legged Race<br>
  10:40 am: Shoebox Race<br>
  10:50 am: Mix-Up Relay<br>
  11:00 am: Balloon Pop Relay<br>
  11:15 am: Caterpillar Relay<br>
  11:30 am: Water Balloon Catch<br>
  11:40 am: Trampoline Ball<br>
  12:20 pm: Obstacle Course<br>
  12:45 pm: Tug of War<br><br>
  01:00 pm: LUNCH<br><br>
  02:00 pm: Badminton (Adults) / Rest (Kids)<br>
  03:30 pm: Kickball (All)<br>
  05:30 pm: Pitch Tents<br><br>
  07:00 pm: DINNER<br><br>
  08:00 pm: Fire and S’mores<br>
</div>

<div class="pure-u-1-2">
  <h3>Sunday 12/01</h3>
  10:30 am: Breakfast<br>
  11:00 am: Closing Ceremony<br>
</div>
