<h1 class="center big-text">2013 Schedule</h1>

<div class="pure-g-r">
  <div class="pure-u-1-3">
    <div class="l-box">
      <h2>Friday (11/29)</h2>
      <p>
        You are free to come out Friday to help set up, but please arrive no
        ealier than 3:30 p.m.
      </p>

      <p>
        If you do plan on coming out early, call or text Kay at (210) 826-4461
        to let her know when you'll arrive.
      </p>
    </div>
  </div>

  <div class="pure-u-1-3">
    <div class="l-box">
      <h2>Saturday (11/30)</h2>
      <strong>
        <p>Everyone should arrive at or before 9:30 a.m.</p>
      </strong>

      <p>
        10:00 am: Opening Ceremony
      </p>
      
      *Trampoline Ball (played throughout the day)<br><br>

      RELAY RACES<br>
      10:10 am: Mix-up Relay<br>
      10:20 am: Popcorn Relay<br>
      10:30 am: Three-Legged Race<br>
      10:40 am: Shoebox Race<br>
      10:50 am: Caterpillar Relay<br>
      11:10 am: Balloon Pop Relay<br>
      11:20 am: Egg Pass<br>
      11:30 am: Water Balloon Catch<br>
      11:45 am: Obstacle Course<br>
      12:50 pm: Tug of War<br><br>
      
      01:00 pm: LUNCH<br><br>
      
      02:00 pm: Badminton (Adults) / Rest (Kids)<br>
      03:30 pm: Kickball (All)<br>
      05:30 pm: Pitch Tents<br><br>
      
      07:00 pm: DINNER<br><br>
      
      08:00 pm: Bonfire and S’mores<br>
    </div>
  </div>


  <div class="pure-u-1-3">
      <div class="l-box">
        <h2>Sunday (12/01)</h2>
        10:30 am: BREAKFAST<br><br>
        11:00 am: Closing Ceremony<br>
      </div>
  </div>