<h1 class="center big-text">The Players</h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to gravatar_for(user, size = 40), user_path(user) %></td>
      <td><%= user.name_first %></td>
      <td>> <%= user.email %></td>
      <td><% if current_user.admin? %> | <%= link_to "Delete",
                destroy_user_path(user), class: "red-link", :method => :delete,
                :confirm => "Are you sure?" %></td>
    <% end %>
    </tr>
  <% end %>
</table>

