<h1 class="center">Players</h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to(gravatar_for(user, size = 40)) %></td>
      <td><%= user.name_first %></td>
      <td><%= user.email %></td>
      <td><% if current_user.admin? %> | <%= link_to  "delete", user, method: :delete,
                                         data: { confirm: "Are you sure?" } %>
      <% end %></td>
    </tr>
  <% end %>
</table>