<h1 class="center">
  <%= gravatar_for(@user, 100) %><br>
  <%= @user_full_name %>
</h1>

<p>
  User ID: <%= @user.id %>
</p>

<p>
  Admin:
    <% if @user.admin? %>
      yes
    <% else %>
      no
    <% end %>
</p>