body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
  padding-top: 60px;
  // padding-top: 10px;
}

.pure-menu {
  padding-top: 5px;
  ul {
    li {
      a {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 2px;
      }
    }
  }
}

#logo {
  padding-bottom: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 80%;
  overflow: auto;
  word-wrap: break-word;
  background-color: #5AC6FF;
  color: #555E66;
  padding: 5px 30px 10px 30px;
  border-radius: 5px;
}

// apple blue:    5AC6FF; // blue
// apple green:   90EE90; // green
// apple pink:    FF8282; // pink
// apple yellow:  FDEB75; // yellow

.footer {
  font-family: 'PT Sans Narrow', sans-serif;
  width: 100%;
  margin-top: 40px;
  border-top: 1px solid gray;
  color: gray;
  a {
    color: gray;
    text-decoration: none;
    &:hover {
      color: #555E66;
    }
  }
}

.l-box {
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 110%;
  padding: 0 10px;
  border-left: 1px solid gray;
}

.center {
  text-align: center;
}

// BUTTONS //

.pure-button-warning {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-xsmall {
  font-size: 70%;
}

.pure-button-small {
  font-size: 85%;
}

.pure-button-large {
  font-size: 110%;
}

.pure-button-xlarge {
  font-size: 125%;
}


// ALERTS //

.alert {
  text-align: center;
}

.alert-alert {
  // ex: telling you you're already signed in
  color: #FDEB75;
  border: 1px solid #FDEB75;
  border-radius: 5px;
  padding: 10px 0;
}

.alert-notice {
  // ex: when signed out successfully
  color: #90EE90;
  border: 1px solid #90EE90;
  border-radius: 5px;
  padding: 10px 0;

}