body {
  padding-top: 50px;
}

.footer {
  width: 100%;
  margin-top: 40px;
  border-top: 1px solid gray;
  color: gray;
  a {
    color: gray;
  }
}

.l-box {
    padding: 0 10px;
    border-left: 1px solid gray;
}

.container {
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #90EE90;
  color: #555E66;
  margin: 0 40px;
  padding: 5px 30px 10px 30px;
  border-radius: 5px;
}



// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
