body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
  padding-top: 60px;
  // padding-top: 10px;
}

.pure-menu {
  padding-top: 5px;
  ul {
    li {
      a {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 2px;
      }
    }
  }
}

#logo {
  padding-bottom: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 80%;
  overflow: auto;
  word-wrap: break-word;
  background-color: #5AC6FF;
  color: #555E66;
  padding: 5px 30px 10px 30px;
  border-radius: 5px;
}

.footer {
  font-family: 'PT Sans Narrow', sans-serif;
  width: 100%;
  margin-top: 40px;
  border-top: 1px solid gray;
  color: gray;
  a {
    color: gray;
    text-decoration: none;
    &:hover {
      color: #555E66;
    }
  }
}

.l-box {
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 110%;
  padding: 0 10px;
  border-left: 1px solid gray;
}

// apple blue:    5AC6FF
// apple green:   90EE90
// apple pink:    FF8282
// apple yellow:  FDEB75


// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
