<div class="footer">
  <small>
    Made by <%= link_to "Park Silkenson", "http://silkenson.com",
                        target: '_blank' %> using <%= link_to "Pure",
                        "http://purecss.io", target: '_blank' %>
  </small>
</div>
