<div class="footer">
  <div class="pure-u-1-2">
    <small>
      Made and designed by <%= link_to "Park Silkenson", "http://silkenson.com",
                          target: '_blank' %>
    </small>
  </div>
</div>
